<!DOCTYPE html>
<html>
<head>
	<title>Flask-Firebase-Reset Password Done</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='1.jpg') }}");
        }
      </style>
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Reset Password Done </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{{ url_for('static', filename = 'user.png') }}" id="icon" alt="User Icon" />
    </div>

    <!-- Info Message -->
    <div class="fadeIn first">
      <h2>An email with instructions to reset your password has been sent to you. Please check your email.</h2>
    </div>

    <!-- Button for redirection to the login page -->
    <form action="{{ url_for('login') }}">
        <input type="submit" class="fadeIn fourth" value="Go to Login Page">
    </form>

  </div>
</div>
</body>
</html>
