<!DOCTYPE html>
<html>
<head>
	<title>Flask-Firebase-Reset Password</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='1.jpg') }}");
        }
      </style>
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Reset Password </h2>
    <a href="{{ url_for('login') }}"><h2 class="inactive underlineHover">Sign In </h2></a>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{{ url_for('static', filename = 'user.png') }}" id="icon" alt="User Icon" />
    </div>

    <!-- Reset Password Form -->
    <form action="" method="POST">
      <input type="email" id="email" class="fadeIn second" name="email" placeholder="email">
      <input type="submit" class="fadeIn fourth" value="Reset Password">
    </form>

    {% if error %}
    <div class="fadeIn first">
        <p>{{ error }}</p>
    </div>
    {% endif %}
    
    <!-- Redirect to Sign Up -->
    <div id="formFooter">
      <a class="underlineHover" href="{{ url_for('signup') }}">Don't have an account? Sign Up</a>
    </div>
 
  </div>
</div>
</body>
</html>
